[Unit]
Description=Screen Stream Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/tiramisu/Desktop/MacPi_Mirror-main/screen_stream.py
WorkingDirectory=/home/tiramisu/Desktop/MacPi_Mirror-main
Restart=always
User=tiramisu

[Install]
WantedBy=multi-user.target
